@{
    Validation.RequireFields("nome","endereco","cpf","login","senha","senha_Confirmacao");
    //IsPost == Request.HttpMethod== System.Net.WebRequestMethods.Http.Post
    if(IsPost&& Validation.IsValid()){
        string nome= Request.Form["nome"];
        string endereco= Request.Form["endereco"];
         string cpf= Request.Form["cpf"];
        string login= Request.Form["Login"];
        string senha= Request.Form["Senha"];
        string senha_Confirmacao= Request.Form["senha_Confirmacao"];
        
        if(senha == senha_Confirmacao){
            var db=Database.Open("sessoes");
            string senha_criptografada = new SenhaCriptografada(senha).ToString();
            db.Execute("INSERT INTO Usuarios (nome, endereco, cpf, Login, Senha) VALUES (@0,@1,@2,@3,@4)" ,nome,endereco,cpf,login,senha_criptografada);

            db.Close();
        }
    }
    

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h2>Cadastro de Usuários</h2>
        <link rel="stylesheet" type="text/css" href="css/estilo.css">
        @if(IsPost && !Validation.IsValid()){
            <div style=" color: #fff; background-color:#f00"> Erros no envio do form</div>
        }
   <fieldset>
       
        <form method="post" class="form-horizontal">

     <div class="form-group">
        <label for="nome">Nome:  </label>
        <input type="text" name="nome" value="@Request.Form["nome"]" class="form-control">      
        @Html.ValidationMessage("nome")

     </div>    <br>
            
     <div class="form-group">
          <label for="endereco">Endereço:</label>
          <input type="text" name="endereco" value="@Request.Form["endereco"]" class="form-control"> 
           @Html.ValidationMessage("endereco") 
     </div><br>

     <div class="form-group">
         <label for="cpf">CPF:</label>
         <input type="text" name="cpf" value="@Request.Form["cpf"]" class="form-control">
          @Html.ValidationMessage("cpf") 
     </div><br>

     <div class="form-group"> 
         <label for="login">Login:</label>
         <input type="text" name="login" value="@Request.Form["login"]" class="form-control">
          @Html.ValidationMessage("login")     
     </div><br>

     <div class="form-group"> 
         <label for="senha">Senha:</label>
         <input type="password" name="senha" value="" class="form-control">
          @Html.ValidationMessage("senha")
     </div><br>

     <div class="form-group">
         <label for="senha_Confirmacao">Senha Confirmação:</label>
         <input type="password" name="senha_confirmacao" value="" class="form-control">
         @Html.ValidationMessage("senha_Confirmacao") 
     </div>
            <br>
            <input type="submit" value="Cadastrar" class="btn btn-succes" > 


            <a href="Login.cshtml">efetuar Login</a>
      
        </form>
   </fieldset>
           
    </body>
</html>
