@{
    Validation.RequireFields("nome","numero","validadecartao","codSeg");
   
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Pagamento</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <style>
            .Pagamento-page{
    background-image: url('99taxis.png');
    background-repeat: round;
    background-size:100%;
    bottom: 0;
    color: #fff;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
   font-size: x-large;
    top: 0;

}
           .Pagamento-page .form-group
{
    padding: 8px 0;
}
.Pagamento-page .form-content
{
    padding: 40px 0;
}
           .span{
                font-style:italic;
                font-size: 50px;
            }
 </style>
        </style>
        
       <div class="conteiner">
           <div class="Pagamento-page">
        <form method="Post" class="form-group"> 
            @if(IsPost&& Validation.IsValid()){
        <div class="alert alert-success">
  <strong>Pagamento efetuado com sucesso! em instantes o transporte chegara</strong> <a href="~/Logout">Sair</a>  
</div>}
@if(IsPost && !Validation.IsValid()){
            <div style=" color: #fff; background-color:#f00"> prencha todos campos</div>
         }
        
      
            <div class="form-group"> 
    <div class="col-sm-offset-0 col-sm-0">
      <div class="checkbox">
        <label class="checkbox-inline"><input type="checkbox"> CRÉDITO</label>
      </div>
    </div>
  </div>
                             
             <div class="form-group"> 
    <div class="col-sm-offset-0 col-sm-0">
      <div class="checkbox">
        <label class="checkbox-inline"><input type="checkbox"> DEBITO</label>
      </div>
    </div>
  </div>
              
             
         <div class="form-group"> 
    <div class="col-sm-offset-0 col-sm-0">
      <div class="checkbox">
        <label class="checkbox-inline"><input type="checkbox" name="dinheiro"> DINHEIRO</label>
      </div>
    </div>
  </div>
          
              
            <br><br>
            <br>
            <label for="select">Selecione bandeira do Cartão</label>
            <select class="form-control">
                <option>Visa</option>
                <option>Master</option>
                <option>Elo</option>
                <option>Diner</option>
                <option>CalCard</option>
             </select><br><br>
      
          
                <div class="form-group" >
        <label for="nome">Nome do titular:  </label>
        <input type="text" name="nome"  value="@Request.Form["nome"]"  class="form-control">      
        @Html.ValidationMessage("nome")</div>
                <div class="form-group" >
        <label for="numero">Numero Do Cartão:  </label>
        <input type="text" name="numero" value="@Request.Form["numero"]"  class="form-control"placeholder="">      
        @Html.ValidationMessage("numero")</div>
                <div class="form-group" >
        <label for="validadecartao">ValidadeCartão:  </label>
        <input type="datetime" name="validadecartao" class="form-control" value="@Request.Form["validadecartao"]"  placeholder="MM/AAAA">      
        @Html.ValidationMessage("validadecartao")</div>
                 <div class="form-group" >
        <label for="codSeg">Cod Segurança:  </label>
        <input type="text" name="codSeg"  class="form-control"placeholder="***">      
        @Html.ValidationMessage("codSeg")
                </div>  

           
            

            <input type="submit" class="btn btn-black btn btn-secondary btn-lg" style="color: #f00" value="EfetuarPagamento">
           
           </form>
       </div>
       
       
       </div>
       
    
  

    </body>
</html>
